html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.imageThumbnail {
    width: 200px;
    height: auto;
}
.carpanel:hover
{
    font-weight:bold;
    background-color:#eeeeee;
}

