@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-3">Carsales</h1>
    <h1 class="display-4">Welkom</h1>
    <img class="img-fluid rounded" src="~/carsales.jpg" />
</div>
<p></p>
<div class="card">
    <div class="card-header">
        <h5>Contactgegevens</h5>
    </div>
    <div class="card-body">
        <p>Adres : Dafstraat 1, 8000 Brugge</p>
        <p>Telefoon : 0497/66.77.88</p>
        <p>E-mail : info@dafcarsales.be</p>
    </div>
</div>

