@page
@model CarSales.Pages.Fuels.EditModel

@{
    ViewData["Title"] = "Brandstof wijzigen";
}

<h1>Brandstof wijzigen</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Fuel.Id" />
            <div class="form-group">
                <label asp-for="Fuel.FuelName" class="control-label"></label>
                <input asp-for="Fuel.FuelName" class="form-control" />
                <span asp-validation-for="Fuel.FuelName" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <div class="btn-group">
                    <button type="submit" class="btn  btn-success" title="Opslaan">
                        <i class="far fa-save"></i>
                    </button>
                    <a asp-page="Index" class="btn btn-danger" title="Annuleren">
                        <i class="fas fa-undo-alt"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
